@media screen and (min-width 2295px)
	#main
		min-height calc(100vh - 215px)
	.container
		width 1400px
	#logo
		width 220px
	.contacts a i
	.contacts a i+span
		font-size: 20px
	#header
		margin-bottom: 60px
	#gift
		width 765px
		top -170px
		left -31px
	.main_subtitle
		font-size: 24px
		max-width: 536px;
		margin-top: 120px
	.main_title
		font-size: 38px
		margin-bottom: 60px
	.cert
		margin-bottom: 60px
	.cert_img
		max-width 250px
	.soc_buttons a i
		font-size: 24px
		width 45px
		height 45px
		line-height 45px
	#footer #conditions, #footer p
		font-size: 18px
@media screen and (max-width 1199px)
	#header
		margin-bottom: 0
	.main_title
		font-size: 28px
	#gift
		left -53px
@media screen and (max-width 991px)
	#header
		margin-bottom: 0
	#logo
		float: none
		display block
		margin: 0 auto
	.contacts
		text-align: center
		float: none
		a
			display: inline-block
			margin-top: 5px
	.main_subtitle
		margin 40px auto 60px
		max-width 100%
	#gift
		display: none
	.certs_container
		overflow hidden
	.cert
		width 30%
		float: left 
		margin 0 12px
	.cert_img
		margin-bottom: 10px
@media screen and (max-width 767px)
	.cert
		width 100%
		float: none
		margin 0 0 25px
	.cert_img
		margin-bottom: 10px
@media screen and (max-width 485px)
	#logo
		width 140px
	.contacts a
		margin-top: 0
	.contacts a i
	.contacts a i+span
		font-size: 12px
		line-height: 12px
	.main_title
		font-size: 24px
		margin 10px 0 0
	.main_subtitle
		font-size: 18px
		margin 20px 0 30px
	.cert a
		max-width 100%
	.cert_img
	.cert .button
		display block
		margin: 0 auto 10px
	.cert_img
		max-width 300px
	#footer
		padding 20px 0
	#footer h5
		font-size: 18px
		margin-bottom: 8px
	.soc_buttons a
		margin: 0 8px 8px
	#footer #conditions, #footer p
		font-size: 12px
@media screen and (max-width 380px)
	.main_title
		font-size: 22px
		padding 10px 5px